.card-container {
    width: 11/12;
    margin-top:2rem;
  }
  
  .card {
    flex: none;
    width: 33.33%;
    padding: 16px;
    background-color: #413d63;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    width:260px;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 8px;
    margin: auto;

  }
  
  .card h3 {
    font-size: 1.25rem !important;
    font-weight: bold;
    margin-top: 1rem !important;
  }
  
  .card p {
    text-indent: 25px !important;
    color: #F2F2F2;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal {
    background-color: rgba(0, 0, 0, 0.5);;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
  }
  
  .modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.5) 0px -12px 30px, rgba(0, 0, 0, 0.5) 0px 4px 6px, rgba(0, 0, 0, 0.5) 0px 12px 13px, rgba(0, 0, 0, 0.5) 0px -3px 5px;

  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .carousel-button {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ccc;
    position: relative;
    right: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  